- name:         Create Host Group on Zabbix Server
  hosts:        localhost
  gather_facts: false

  tasks:
  - name: Connect To Zabbix Server with API
    zabbix_group:
      server_url:     http://10.2.21.21/zabbix/api_jsonrpc.php
      login_user:     Admin
      login_password: zabbix
      host_groups:    temp group
      state:          present
